.b_setup{
    width: 208px;
height: 62px;
flex-shrink: 0;
    border-radius: 10px;
background: #F5F7FB;
border: 'none'
}
.b_setup_red{
    border: 'none';
    width: 208px;
height: 62px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #E52E28;
background: #FFFFFF;
}